.app-container {
    display: flex;
}

.content {
    width: 100%;
}

.sidebar {
    min-height: 100vh;
    width:170px;
}
.post-list{
    padding: 2rem;
}
.post-card {
    width:100%;
    margin:1rem;
}

.hashTag {
    margin: 0px 2px;
}
.reactions{
    margin-top: 2rem;
}